.error-container {
    max-width: 400px;
    margin-top: 15%;
    margin-left: 35%;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 72px;
    color: #ff0000;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover {
    background-color: #45a049;
}