* {
    box-sizing: border-box;
}

.wrapper_banner,
.feature_1,
.feature_2,
.feature_3 {
    display: flex;
    margin-top: 10%;
}

.feature_1,
.feature_2,
.feature_3 {
    justify-content: space-around;
    text-align: justify;
}

.feature_description {
    margin-left: 20%;
    margin-right: 20%;
}

.wrapper_why_us {
    margin-left: 20px;
    margin-bottom: 5%;
    text-align: center;
}

.getstart {
    text-align: center;
}

.btn a {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    background-color: rgb(174, 42, 42);

}

.btn a:hover {
    background-color: rgb(255, 0, 0);
}

.wrapper_testimonies {
    text-align: justify;
    margin-left: 10%;
    display: inline-block;
}

.testimonies_img {
    border-radius: 50%;
    border: 1px solid #000000;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.call_to_action {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 10px;
    margin-left: 5%;
}

#testimonials {
    padding: 50px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial {
    text-align: center;
    margin-bottom: 40px;
}

.testimonial img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.author {
    font-style: italic;
    color: #888888;
}