* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #eff4fd;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 40px;
    z-index: 999;

}

.logo {
    font-size: larger;
    font-weight: bolder;
    width: 100px;
    height: 10px;
    margin: 25px;
}
.login{
    margin-left: 0%;
}

.logo #expense {
    color: red;
}

.logo #master {
    color: black;
}



.logo-link {
    text-decoration: none;
}

.logo-menu,
.nav-main ul {
    display: flex;

}

.logo-menu {
    justify-content: space-between;
    border-bottom: 1px solid #d7dce7;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #d7dce7;

}


.nav-main ul li {
    list-style: none;
    margin: 10px;
}

.nav-main ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 15px;
    font-weight: bold;
}

.nav-main {}

.nav-main ul li a:hover {
    color: brown;
}

.footer-main {
    border-top: 2px solid #d7dce7;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #d7dce7;
}

.footer-part-main {
    display: flex;
    justify-content: space-around;
    text-align: justify;

}

.footer-bottom {
    text-align: center;
    padding: 10px;

}

.footer-part-main {
    padding: 5%;
}

.footer-part-main a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    font-weight: bold;
}

.footer-part-main a:hover {
    color: red;
}

.social {
    margin-top: 10px;
}

.wrapper_social {
    text-align: center;
    color: hsl(0, 0%, 0%);
}

i {
    margin: 10px;
    font-size: 30px;
    color: hsl(0, 0%, 0%);
}

input[type=text] {
    border: 1px solid;
}

.expenses-table,
.profile_container {
    background-color: #f4f4f4;
    padding: 15px;
}

.expenses-table h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.expenses-table table {
    width: 100%;
    border-collapse: collapse;
}

.expenses-table th,
.expenses-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.expenses-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.expenses-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.profile_container {
    margin-top: 15%;
}
/* .header-nav-main{
    color: red;
} */