{% extends "/partials/layout.html" %}
{% block head %}
<title>About</title>
{% endblock %}
{% block content %}

<div class="container">
    <h1> About us </h1>
    <p> We're two Alx's students.</p>

    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusantium suscipit minus, officiis, at eaque
        praesentium id explicabo aperiam p
        laceat aliquam animi nostrum nisi voluptatum vero tempore amet. Dolorum, vitae!
    </div>
</div>
{% endblock %}