{% extends "/partials/layout.html" %}
{% block head %}
<title>blog</title>
<link rel="stylesheet" href="{{ url_for('static',     filename='css/error404.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusantium suscipit minus, officiis, at eaque praesentium id explicabo aperiam p
        laceat aliquam animi nostrum nisi voluptatum vero tempore amet. Dolorum, vitae!
    </div>
</div>
{% endblock %}