{% extends "/partials/layout.html" %}
{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static',     filename='css/login.css') }}">
{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password" required>
        <div class="msg">{{ msg }}</div>
        <button type="submit">login</button>
    </form>
    don't have an account? <a href="{{ url_for('register') }}">register</a>
</div>
{% endblock %}